p {
    font-size: 20px;
    font-family: 'Arial Rounded MT Bold';
    color: white;
    font-weight: bold;
}


.separator {
    display: block;
    height: 1px;
    width: 200px;
    border: 0;
    border-top: 1px solid red;
}

.title {
    font-family: 'Britannic';
    font-size: 44px;
    font-weight: bold;
    color: #614051;
    margin-top: 0px;
    margin-bottom: 0px;
}

.subtitle {
    font-family: 'Britannic';
    font-size: 40px;
    font-weight: bold;
    color: #614051;
    margin-top: 0px;
    margin-bottom: 0px;
}

.title_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.paragraph {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.center_text {
    text-align: center;
}

.wrapper {
    height: 610px;
    padding-bottom: 80px;
}

.wrapper_image_1 {
    height: 800px;
    margin: auto;
    padding-bottom: 80px;
    background: url('../resources/justice.png') no-repeat;
    background-size: 100%;
}

.wrapper_image_2 {
    height: 800px;
    margin: auto;
    padding-bottom: 80px;
    background: url('../resources/monopoly.png') no-repeat;
    background-size: 100%;
}

.fixed_second_page {
    position: absolute;
    top: 260px;
    left: 620px;
    width: 480px;
    text-align: justify;
}

.transparent_box_second_page {
    position: absolute;
    top: 260px;
    left: 600px;
    width: 520px;
    height: 160px;
    opacity: 0.2;
    background-color: white;
}

.fixed_third_page {
    position: absolute;
    top: 160px;
    left: 100px;
    width: 480px;
    text-align: center;
}

.transparent_box_third_page {
    position: absolute;
    top: 140px;
    left: 80px;
    width: 520px;
    height: 460px;
    opacity: 0.8;
    background-color: #4B0950;
}

.principal_span {
    color: red;
}

.secondary_span {
    color: aqua;
}

.inside_title {
    font-size: 24px;
}